body {
  background-color: #C4C4C4;
  margin: 0;
}

#header {
  width: 100%;
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #0E5C23;
  font-size: 4.5em;
  text-shadow: 1px 1px 5px white;
}

h3 {
  color: #FFFFFF;
  text-align: center;
}

.container {
  margin: 0px auto;
}

#seat-chart {
  width: 90%;
  margin: 0px auto;
}

/* Seating chart */
.available, .reserved {
  width: 22%;  
  margin: 0.3em;
  height: 10em;
  padding: 0;
  display: inline-block;
  border-radius: 20px;
}

.available {
  background-color: #0E5C23;
}

.reserved {
  background-color: #9E0303;
}

.available:hover, .reserved:hover {
  opacity: 0.75;
  cursor: pointer;
}

/*Form*/
#seatform {
  width: 40%;
  margin: 20px auto;
}

.red {
  color: #9E0303;
  font-size: 24px;
  padding:10px;
}

.green {
  color: #0E5C23;
  font-size: 24px;
  padding: 10px;
}

#lastNameDiv, #phoneNumberDiv, #submitButton {
  display: none;
}

#submitButton {
  background-color: #6b6b6b;
  color: white;
  padding: 8px;
  border-radius: 5px;
}
  
#submitButton:hover {
  background-color: black;
}