.seat-chart {
  width: 90%;
  margin: 0 auto 20px;
}

/* Seating chart */
.available, .reserved {
  width: 22%;
  margin: 5px;
  min-height: 100px;
  display: inline-block;
  border-radius: 20px;
}

.available {
  background-color: green;
}

.reserved {
  background-color: red;
}

.available:hover, .reserved:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*Form*/
.title, .submit  {
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 10px;
  width: 260px;
  text-align: right}




